body {
    /*background-image: linear-gradient(*/
    /*        109.6deg,*/
    /*        rgba(253, 199, 141, 1) 11.3%,*/
    /*        rgba(249, 143, 253, 1) 100.2%*/
    /*);*/
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
a,
a:visited,
a:active {
    color: black;
}
main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    color: #000;
    text-align: center;
    font-weight: 300;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    font-size: 34px;
    margin-top: 20px;
}
.window {
    width: 547px;
    border-radius: 6px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
}
.window .window-header {
    height: 25px;
    background: Gainsboro;
    position: relative;
}
.window .window-header .action-buttons {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    background: Crimson;
    border-radius: 50%;
    box-shadow: 15px 0 0 Orange, 30px 0 0 LimeGreen;
}
.editor {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
    font-family: "PT Mono", monospace;
    font-size: 14px;
    font-weight: 400;
    min-height: 340px;
    letter-spacing: normal;
    line-height: 20px;
    padding: 10px;
    resize: none !important;
    tab-size: 4;
}
.editor.hljs {
    padding: 10px;
}
.controls {
    font-size: 14px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -10px;
    display: flex;
}
.controls > div:first-child > a {
    display: inline-block;
    width: 40px;
}
.features {
    width: 547px;
    font-size: 16px;
    margin-bottom: 30px;
}

.count-complexity-button {
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}

.count-complexity-button:hover {background-color: #e7e7e7;}

.description {
    visibility: visible;
    width: 30em;
    font-size: 1.2em;
}

.description-body {
    margin: 1em 0em;
}

.description-body {
    visibility: hidden;
}
